.left{
    float: left;
}
.right{
    float: right;
}
.clearfix::after{
    content: "";
    clear:both;
    display: block;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}